.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .containerClientes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        padding: 25px;
        gap: 15px;

        div{
            cursor: pointer;
        }
    }
}